{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{room_type.type}} Room</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li>{{rooms.count}} Available Rooms</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="fullwidth_block margin-top-0 padding-top-0 padding-bottom-50" data-background-color="#fff">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="headline_part centered margin-bottom-20">All Available Rooms<span>The {{room_type.type}} Room has {{rooms.count}} Available Room(s)</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="utf_pricing_container_block margin-top-30 margin-bottom-30">
                
                {% for room in rooms %}    
                    <div class="plan featured col-md-4 col-sm-6 col-xs-12">
                        <div class="utf_price_plan">
                            <h3>Room No. {{ room.room_number }}</h3>
                            <span class="value">${{room.room_type.room_capacity}}<span>/Per Night</span></span>
                            <span class="period">Basic User Membership</span>
                        </div>
                        <div class="utf_price_plan_features">
                            <ul>
                                <li>Beds: {{room.room_type.number_of_beds}}</li>
                                <li>Room Capacity: {{room.room_type.room_capacity}}</li>
                            </ul>
                            <input type="hidden" name="room_id" id="room_id" class="">
                            <input type="hidden" name="room_number" id="room_number" class="">
                            <a class="button border"><i class="sl sl-icon-basket"></i> Order Now</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="utf_cta_area_item utf_cta_area2_block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="utf_subscribe_block clearfix">
                    <div class="col-md-8 col-sm-7">
                        <div class="section-heading">
                            <h2 class="utf_sec_title_item utf_sec_title_item2">Subscribe to Newsletter!</h2>
                            <p class="utf_sec_meta">
                                Subscribe to get latest updates and information.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5">
                        <div class="contact-form-action">
                            <form method="post">
                                <span class="la la-envelope-o"></span>
                                <input class="form-control" type="email" placeholder="Enter your email" required="">
                                <button class="utf_theme_btn" type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}