{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<div class="selection-list" id="main_wrapper">
<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>All Room Selection</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>All Room Selection</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


<div class="container margin-bottom-75">
    <div class="row">
        <div class="col-lg-8 col-md-8 utf_listing_payment_section">
            <div class="utf_booking_listing_section_form margin-bottom-40">
                <h3><i class="fa fa-bed"></i> Selected Rooms</h3>
                <div class="utf_listing_section">
                    <div class="utf_pricing_list_section">
                        <ul>
                            
                            {% for id, item in data.items %}
                            <li>
                                <h5>
                                    Room: {{item.room_name}}
                                    <small>
                                        <a style="cursor: pointer;" class="delete-item" data-item="{{id}}" >
                                            <i class="fa fa-trash" style="color: red;"></i>
                                        </a>
                                    </small>
                                </h5>
                                <p><strong>Beds :</strong> {{item.number_of_beds}}</p>
                                <span>${{item.room_price}}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <form class="utf_booking_listing_section_form margin-bottom-40" method="post">
                {% csrf_token %}
                <h3><i class="sl sl-icon-paper-plane"></i> Billing Information</h3>
                <div class="row">
                    <div class="col-md-12">
                        <label>Full Name</label>
                        <input type="text" name="full_name" placeholder="First Name">
                    </div>
                    <div class="col-md-6">
                        <div class="medium-icons">
                            <label>E-Mail</label>
                            <input type="text" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="medium-icons">
                            <label>Phone</label>
                            <input type="text" name="phone" placeholder="Phone">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="button utf_booking_confirmation_button margin-top-20 margin-bottom-10">Continue to Checkout</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-4 margin-top-0 utf_listing_payment_section">
            <div class="utf_booking_listing_item_container compact utf_order_summary_widget_section">
                <div class="listing-item"> <img src="{{hotel.image.url}}" alt="">
                    <div class="utf_listing_item_content">
                        <h3>{{hotel.name}}</h3>
                        <span><i class="fa fa-map-marker"></i> {{hotel.address}}</span>
                        <span><i class="fa fa-phone"></i> {{hotel.mobile}}</span>
                        <div class="utf_star_rating_section" data-rating="4.5">
                            <div class="utf_counter_star_rating">(18) Reviews</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxed-widget opening-hours summary margin-top-0">
                <h3><i class="fa fa-calendar-check-o"></i> Booking Summary</h3>
                <ul>
                    <li>Check-in <span>{{checkin}}</span></li>
                    <li>Check-out <span>{{checkout}}</span></li>
                    <li>Total Days <span>{{total_days}} Days</span></li>
                    <li>Adults <span>{{adult}} Adults</span></li>
                    <li>Childrens <span>{{children}} Children</span></li>
                    <li>V.A.T <span>$0.00</span></li>
                    <li class="total-costs">Total Cost <span>${{total}}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="utf_cta_area_item utf_cta_area2_block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="utf_subscribe_block clearfix">
                    <div class="col-md-8 col-sm-7">
                        <div class="section-heading">
                            <h2 class="utf_sec_title_item utf_sec_title_item2">Subscribe to Newsletter!</h2>
                            <p class="utf_sec_meta">
                                Subscribe to get latest updates and information.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5">
                        <div class="contact-form-action">
                            <form method="post">
                                <span class="la la-envelope-o"></span>
                                <input class="form-control" type="email" placeholder="Enter your email" required="">
                                <button class="utf_theme_btn" type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
{% endblock content %}