{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:: U-Listing Directory - Listing HTML Template ::</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/mmenu.css' %}">

    <script src="{% static 'scripts/sweetalert2.all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" id="colors">
    <!-- Google Font -->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap&subset=latin-ext,vietnamese"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet"
        type="text/css">
</head>

<body>

    <!-- Preloader Start -->
    <div class="preloader">
        <div class="utf-preloader">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Wrapper -->
    <div id="main_wrapper">
        <header id="header_part" class="fixed fullwidth_block dashboard">
            <div id="header" class="not-sticky">
                <div class="container">
                    <div class="utf_left_side">
                        <div id="logo"> <a href="index_1.html"><img src="{% static 'images/logo.png' %}" alt=""></a> <a
                                href="index_1.html" class="dashboard-logo"><img src="{% static 'images/logo2.png' %}"
                                    alt=""></a> </div>
                        <div class="mmenu-trigger">
                            <button class="hamburger utfbutton_collapse" type="button">
                                <span class="utf_inner_button_box">
                                    <span class="utf_inner_section"></span>
                                </span>
                            </button>
                        </div>
                        <nav id="navigation" class="style_one">
                            <ul id="responsive">
                                <li><a href="#">Home</a></li>
                            </ul>
                        </nav>
                        <div class="clearfix"></div>
                    </div>
                    <div class="utf_right_side">
                        <div class="header_widget">
                            <div class="dashboard_header_button_item has-noti js-item-menu">
                                <i class="sl sl-icon-bell"></i>
                                <div class="dashboard_notifi_dropdown js-dropdown">
                                    <div class="dashboard_notifi_title">
                                        <p>You Have 2 Notifications</p>
                                    </div>
                                    <div class="dashboard_notifi_item">
                                        <div class="bg-c1 red">
                                            <i class="fa fa-check"></i>
                                        </div>
                                        <div class="content">
                                            <p>Your Listing <b>Burger House (MG Road)</b> Has Been Approved!</p>
                                            <span class="date">2 hours ago</span>
                                        </div>
                                    </div>
                                    <div class="dashboard_notifi_item">
                                        <div class="bg-c1 green">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div class="content">
                                            <p>You Have 7 Unread Messages</p>
                                            <span class="date">5 hours ago</span>
                                        </div>
                                    </div>
                                    <div class="dashboard_notify_bottom text-center pad-tb-20">
                                        <a href="#">View All Notification</a>
                                    </div>
                                </div>
                            </div>
                            <div class="utf_user_menu">
                                <div class="utf_user_name"><span><img src="{% static 'images/dashboard-avatar.jpg' %}"
                                            alt=""></span>Hi, John!</div>
                                <ul>
                                    <li><a href="dashboard.html"><i class="sl sl-icon-layers"></i> Dashboard</a></li>
                                    <li><a href="dashboard_my_profile.html"><i class="sl sl-icon-user"></i> My
                                            Profile</a></li>
                                    <li><a href="dashboard_my_listing.html"><i class="sl sl-icon-list"></i> My
                                            Listing</a></li>
                                    <li><a href="dashboard_messages.html"><i class="sl sl-icon-envelope-open"></i>
                                            Messages</a></li>
                                    <li><a href="dashboard_bookings.html"><i class="sl sl-icon-docs"></i> Booking</a>
                                    </li>
                                    <li><a href="index_1.html"><i class="sl sl-icon-power"></i> Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="clearfix"></div>

        <!-- Dashboard -->
        <div id="dashboard">
            <a href="#" class="utf_dashboard_nav_responsive"><i class="fa fa-reorder"></i> Dashboard Sidebar Menu</a>
            {% include 'partials/dashboard_sidebar.html' %}


            {% block content %}

            {% endblock content %}

        </div>
        <!-- /Dashboard -->

    </div>

    <script>
        {% for message in messages %}
        const Toast = Swal.mixin({
            toast: true,
            position: "center-end",
            showConfirmButton: false,
            timer: 9000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });
        Toast.fire({
            icon: "{{ message.tags}}",
            title: "{{ message }}"
        });
        {% endfor %}
    </script>
    <!-- Scripts -->
    <script src="{% static 'scripts/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'scripts/chosen.min.js' %}"></script>
    <script src="{% static 'scripts/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'scripts/slick.min.js' %}"></script>
    <script src="{% static 'scripts/rangeslider.min.js' %}"></script>
    <script src="{% static 'scripts/magnific-popup.min.js' %}"></script>
    <script src="{% static 'scripts/jquery-ui.min.js' %}"></script>
    <script src="{% static 'scripts/mmenu.js' %}"></script>
    <script src="{% static 'scripts/tooltips.min.js' %}"></script>
    <script src="{% static 'scripts/color_switcher.js' %}"></script>
    <script src="{% static 'scripts/jquery_custom.js' %}"></script>

    <script>
        (function ($) {
            try {
                var jscr1 = $('.js-scrollbar');
                if (jscr1[0]) {
                    const ps1 = new PerfectScrollbar('.js-scrollbar');
                }
            } catch (error) {
                console.log(error);
            }
        })(jQuery);
    </script>
    <!-- Style Switcher -->
    <div id="color_switcher_preview">
        <h2>Choose Your Color <a href="#"><i class="fa fa-gear fa-spin (alias)"></i></a></h2>
        <div>
            <ul class="colors" id="color1">
                <li><a href="#" class="stylesheet"></a></li>
                <li><a href="#" class="stylesheet_1"></a></li>
                <li><a href="#" class="stylesheet_2"></a></li>
                <li><a href="#" class="stylesheet_3"></a></li>
                <li><a href="#" class="stylesheet_4"></a></li>
                <li><a href="#" class="stylesheet_5"></a></li>
            </ul>
        </div>
    </div>
</body>

</html>