{% extends 'partials/dashboard_base.html' %}
{% load static %}

{% block content %}
<div class="utf_dashboard_content">
    <div id="titlebar" class="dashboard_gradient">
        <div class="row">
            <div class="col-md-12">
                <h2>Change Password</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="dashboard.html">Dashboard</a></li>
                        <li>Change Password</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="utf_dashboard_list_box margin-top-0">
                <h4 class="gray"><i class="sl sl-icon-key"></i> Change Password</h4>
                <div class="utf_dashboard_list_box-static">
                    <div class="my-profile">
                        <form class="row with-forms" method="POST">
                            {% csrf_token %}
                            <div class="col-md-12">
                                {{form}}
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="button btn_center_item margin-top-15">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="footer_copyright_part">Copyright © 2022 All Rights Reserved.</div>
        </div>
    </div>
</div>
{% endblock content %}